.button{

/* justify-content: center; */
text-align: center;
margin-top: 50px;
}

.log{
/* margin-left: 50px; */
border: solid 2px;
border-width: 10px;
padding-left: 20px;
padding: 20px;
}

.input{
    margin-top: 20px;
/* margin-left: 20px; */

text-align: center;
}

.sighn{
    border: solid 2px;
    border-width: 10px;
    padding-left: 20px;

padding: 20px;
}
body{
background-color: aqua;


}
