body{
/* text-align: center; */
background-color:rgb(0, 2, 2);


}
.container{
    width: 50%;
    
padding: 33px;
text-align: center;
background-color: #fff;
margin-left: 20%;
margin-top: 5%;
}

input{
width: 270px;
padding: 8px;
border:2px solid rgb(6,145,145) ;
outline: none;

}
h1{
    color: black;
}
.abutton{
    color: white;
width: 60px;
height: 41px;
background-color: rgb(04, 29, 29);
border: none;
outline: none;
}
button{

margin-top: 2%;

}
li{

    background-color: blue;
color: black;
margin-top: 2%;
}



